@{
    ViewData["Title"] = "Blog";
}

<div class="text-center">
    <h1 class="display-4">Blog</h1>
    <p>List recent posts or link to individual post pages. This is a starting index view for blog entries.</p>
</div>
