@{
    ViewData["Title"] = "Blog";
}

<section class="contacts-hero">
    <div class="contacts-hero__phone">+38 (067)121 20 20</div>
    <div class="contacts-hero__content">
        <h1 class="contacts-hero__title">НОВИНИ</h1>
        <p class="contacts-hero__subtitle">
            Ми надаємо повний спектр юридичних послуг
            — від консультацій і складання документів до комплексного супроводу бізнесу та захисту інтересів у суді.
        </p>
    </div>
</section>
