@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <p>Provide contact form, email addresses, phone numbers, or office locations here.</p>
</div>
